<nav class="navbar bg-light">
    <div class="container-lg">
        <a href="/" class="navbar-brand"> <span class="h1">Tech Blog</span></a>

        <ul class="nav nav-pills text-white">
            <li class="nav-item">
                <a class="nav-link"  href="/dashboard">Dashboard</a>
            </li>
             {{#unless logged_in}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
           {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/api/users/logout">Logout</a>
            </li>
           {{/unless}}
        </ul>
        
    </div>
</nav>