 {{!-- {{> navbar}} --}}

<div class="container">
    <h2>Latest Feeds</h2>
    
    <div class="row">
        {{#each posts as |post|}}
            <div class="col-md-6">
                <div class="card mb-4" >
          <div class="card-body row">
            <div class="col-3">
                <h5>{{user.username}}</h5>
                <p class="small text-muted">Posted on {{format_time post.date_created}}</p>
            </div>
            <div class="col-8">
                 <h5 class="card-title">{{post.name}}</h5>
                <p class="card-text">{{post.description}}</p>
            </div>
           
          </div>
        </div>

            </div>
        {{/each}}

    </div>
</div>
