{{!-- login Form --}}

<h2>LOGIN FORM</h2>
<form id="login-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">userName</label>
    <input type="text" class="form-control" id="login-username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="login-pwd">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<form id="signup-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">userName</label>
    <input type="text" class="form-control" id="signup-username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="signup-pwd">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>




<script src="js/login.js"></script>